extends layout/layout.pug

block content
    div.container
        div.mb-3
            div.list-group
                div.list-group-item.d-flex.justify-content-between.align-items-center 
                    p.my-0 Christian Jebrail
                        span.ml-2.text-muted (christian@mersol.se)
                    span.badge.badge-success Authenticated

        script(src='https://accounts.google.com/gsi/client' async defer)
        div(id="g_id_onload" data-client_id=`${process.env.GOOGLE_CLIENT_ID}` data-callback="handleCredentialResponse")
        div.g_id_signin.ml-1.text-uppercase(data-onsuccess="onSignIn" data-type="standard" data-theme="dark")
    script.