extends layout/layout.pug

block content
    div.container
        div.mb-3
            div.list-group
                div.list-group-item.d-flex.justify-content-between.align-items-center 
                    p.my-0 christian@mersol.se
                    span.badge.badge-success Authenticated
        div.g-signin2.ml-1.text-uppercase(data-onsuccess="googleLogin" data-theme="dark")
    script.
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        const googleLogin = (googleUser) => {
            const profile = googleUser.getBasicProfile();
            axios.post('/api/webhook', {
                type: "google",
                idToken: googleUser.getAuthResponse().id_token,
                fullName: profile.getName(),
                email: profile.getEmail()
            })
        }